apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-product
  namespace: sc-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-product
  template:
    metadata:
      labels:
        app: service-product
    spec:
      containers:
        - name: service-product
          image: service-product:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9000
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: dev
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: service-product
  namespace: sc-demo
spec:
  type: ClusterIP
  selector:
    app: service-product
  ports:
    - name: http
      port: 9000
      targetPort: 9000

