spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origin-patterns: '*'
            allowed-headers: '*'
            allowedMethods: '*'
      routes:
        - id: bing-route
          uri: https://cn.bing.com
          predicates:
            - name: Path
              args:
                patterns: /search
            - name: Query
              args:
                param: q
                regexp: haha
            # - Vip=user,mofan
            - name: Vip
              args:
                param: user
                value: mofan
          order: 10
          # id 全局唯一
        - id: order-route
          # 指定服务名称
          uri: lb://service-order
          # 指定断言规则，即路由匹配规则
          # Fully Expanded Arguments
          predicates:
            - name: Path
              args:
                patterns: /api/order/**
                matchTrailingSlash: true
          filters:
            # 类似把 /api/order/a/bc 重写为 /a/bc，移除路径前的 /api/order/
            - RewritePath=/api/order/?(?<segment>.*), /$\{segment}
            # 自定义过滤器
            - OnceToken=X-Response-Token, uuid
          order: 1
        - id: limit-alias-qps
          uri: lb://service-order
          predicates:
            - Path=/api/qps-limit
          filters:
            - RewritePath=/api/qps-limit, /rateLimit/qps
          order: 3
        - id: limit-alias-thread
          uri: lb://service-order
          predicates:
            - Path=/api/thread-limit
          filters:
            - RewritePath=/api/thread-limit, /rateLimit/thread
          order: 3
        - id: limit-alias-hot
          uri: lb://service-order
          predicates:
            - Path=/api/hot-param-limit
          filters:
            - RewritePath=/api/hot-param-limit, /hotspot/param
            - AddRequestParameter=userId, 1001
            - AddRequestParameter=productId, 2002
          order: 3
        - id: product-route
          uri: lb://service-product
          # Shortcut Configuration
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/product/?(?<segment>.*), /$\{segment}
          order: 2
        - id: business-route
          uri: lb://seata-business
          predicates:
            - Path=/api/business/**
          filters:
            - RewritePath=/api/business/?(?<segment>.*), /$\{segment}
          order: 2
        - id: order-dubbo-route
          uri: lb://service-order-dubbo
          predicates:
            - Path=/api/order/dubbo/**
          filters:
            - RewritePath=/api/order/dubbo/?(?<segment>.*), /$\{segment}
          order: 0
        - id: product-dubbo-route
          uri: lb://service-product-dubbo
          predicates:
            - Path=/api/product/dubbo/**
          filters:
            - RewritePath=/api/product/dubbo/?(?<segment>.*), /$\{segment}
          order: 0
      default-filters:
        - AddResponseHeader=X-Response-Abc, 123
