spring:
  application:
    name: service-product
  cloud:
    nacos:
      # 配置 Nacos 地址
      server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
      username: ${NACOS_USERNAME:nacos}
      password: ${NACOS_PASSWORD:nacos}
      discovery:
        namespace: ${NACOS_NAMESPACE:public}
        username: ${NACOS_USERNAME:nacos}
        password: ${NACOS_PASSWORD:nacos}
      config:
        namespace: ${NACOS_NAMESPACE:public}
        username: ${NACOS_USERNAME:nacos}
        password: ${NACOS_PASSWORD:nacos}
        import-check:
          # 禁用 nacos 配置中心导入检查
          enabled: false
    sentinel:
      transport:
        dashboard: ${SENTINEL_DASHBOARD:localhost:8858}
      eager: true


server:
  # port: 9000
  port: 9100


---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
      - nacos:database.yaml?group=product
    activate:
      on-profile: dev

---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
      - nacos:database.yaml?group=product
    activate:
      on-profile: test

---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
      - nacos:database.yaml?group=product
    activate:
      on-profile: prod

