spring:
  application:
    name: service-product
  cloud:
    nacos:
      # 配置 Nacos 地址
      server-addr: 172.29.64.1:8848
      username: nacos
      password: nacos
      discovery:
        namespace: 8699ba10-d5ae-4183-aa94-eef36789f4d3
        username: nacos
        password: nacos
      config:
        namespace: 8699ba10-d5ae-4183-aa94-eef36789f4d3
        username: nacos
        password: nacos
        import-check:
          # 禁用 nacos 配置中心导入检查
          enabled: false
    sentinel:
      transport:
        dashboard: localhost:8858
      eager: true


server:
  port: 9000
  # port: 9100


---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
      - nacos:database.yaml?group=product
    activate:
      on-profile: dev

---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
      - nacos:database.yaml?group=product
    activate:
      on-profile: test

---
spring:
  config:
    import:
      - nacos:common.yaml?group=product
      - nacos:database.yaml?group=product
    activate:
      on-profile: prod
